<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="text" name="search" placeholder="enter your name customer">
    <input type="submit" value="Search">
</form>
<a th:href="@{/products/create}">Add New Customer</a>
<h1>Danh sách sản phẩm</h1>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Delete</td>
        <td>Edit</td>
    </tr>
    </thead>
    <th:block th:each="p:${list}">
        <tr>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.description}"></td>
            <td><a th:href="@{'/products/delete/'+${p.id}}"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa')">Delete</a>
            </td>
            <td><a th:href="@{'/products/edit/'+${p.id}}">Edit</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>